
<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon style="margin-right: 6px;">laptop</mat-icon>  <span > Email Gui</span>
      <mat-icon style="margin-left:15px; margin-right: 5px;">email</mat-icon> <span class=" text-center">About us</span>
      <mat-icon style="margin-left:15px; margin-right: 5px;">message</mat-icon> <span class=" text-center">Services</span>
      <mat-icon style="margin-left:15px; margin-right: 5px;">phone</mat-icon> <span class=" text-center">Contact us</span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
